html{
    background: #e3e3e3
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 50px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
    background-color: #f5fcff;
}

h1{
    font: 3em;
    margin: 0;
}



p{
    line-height: 1.4em;

}
td, th, tr {
    border: 1px solid black;
}

table{
    margin-right: auto;
    border: 1px solid black;
}


  .topnav-right {
    float: right;
    display: flex;
    position: sticky;
    top: 0;
  }

  .topnav-right a {
  
    color: #242424;
    text-align: right;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
  }

  .topnav-right a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav-right a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  #blog-title{
    text-shadow: .1em .1em 0 hsl(200 60% 80%);
  }

  
li{
  list-style: none;
  display: inline;
}

.form-wrapper{
  display:flex;
  height:80vh;
}

.form{
  display:flex;
  padding-top:10px;
  flex-direction:column;
}

 .form label{
  margin-bottom:15px;
}

.float-left
{
  float: left;
  margin: 0 15px 15px 20px;
  padding: 15px;
  border: 1px solid black;
  text-align: center;
}

section{
  padding: 10px;
  margin: 10px;
}


.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 50%;
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}

* {
  box-sizing: border-box;

}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  width: 50%;
}

.border-right {
  border-right: 1px solid black;
}

.card {
  color: #f3f3f3;
  background: #121212;
  border-radius: 10px;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
 }
  
 #c1 {
  grid-column: 1;
  grid-row: 1;
 }
  
 #c2 {
   grid-column: 2;
   grid-row: 1;
 }
  
 #c3 {
  grid-row: 1;
  grid-column: 3;

 }
 

/* Media Queries */
@media (max-width: 400px ){
  body {
    background-color: #e3e3e3;
  }
  #c1{
    color: red;
  }
}
